html{
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: -webkit-linear-gradient(45deg,#F2E205 0%,  #F29F05 100%);
  font-family: arial;
  height: 100%;
  padding: 0;
 }
*{
  font-size: 20px;

}
form {
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  height: 70%;
  width: 25%;
  display: flex;
  flex-direction:column;
  background-color:#D3D3D3;
  justify-content:space-around;
  border-radius: 12px;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}
form * {
  width: 80%;
  height: 10%;
  border: none;
  border-radius: 10px;
  color: #212026;

}
form button {
  border: none;
  background-color: #F2E205;
   border: none;
   font-weight: bold;

}
form button:hover {
  cursor: pointer;
  background-color: #fbed2c;


}
form  h1 {
 font-size: 60px;
 font-weight: bold;
 color: #212026;
  }

::-webkit-scrollbar {  width: 10px;}
::-webkit-scrollbar-track {  background:  rgba(193,193,193,0.05);}
::-webkit-scrollbar-thumb {  background: rgba(193,193,193,0.1);}
::-webkit-scrollbar-thumb:hover {  background: #555;}
